----------------------------------------------------------------------

1. IDE and Virtual Environment

----------------------------------------------------------------------

IDE-specific directories (IntelliJ/PyCharm/WebStorm, etc.)

.idea/

Virtual Environments

.venv
explanations

----------------------------------------------------------------------

2. Python Cache and Build Artifacts

----------------------------------------------------------------------

Python bytecode/cache directories

*.pyc

PyInstaller/Nuika/spec files (used for creating executables)

src/build/build_files
src/build/dist
UI_DEVELOPER_GUIDE.md
UI_INSTRUCTIONS.md
