name: Dependency Submission

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependency Submission
        uses: advanced-security/component-detection-dependency-submission-action@v0.0.1
        with:
          ignore-directories: '.git,.github,.vscode,.idea'
